<!DOCTYPE html>
<html>
  <head>
    <title>Chung Cư NEET paradise</title>
  </head>
  <body>
    <h1>Thông tin Chung cư (Guest)</h1>
    <p>Chào mừng bạn! Đăng nhập để xem thêm chi tiết.</p>
    <button onclick="window.location.href = '/login'">Đi tới Đăng nhập</button>
  </body>
</html>
